.sketchBoard{
    background-color:red;
}

.smallSquare{
    background-color: white;
    padding: 1px;
}

.mainDiv{
    display: flex;
    border: solid 2px red;
    max-width: min-content;
}


.sketchEffect{
    background-color: black;
}